In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
start = pd.read_csv("start.csv")
end = pd.read_csv("end.csv")

In [10]:
start

     Type;Pos_x;Pos_y;Vel_x;Vel_y;Receptor_0;Receptor_1;Status
0       2;0.000000;491.000000;0.000000;0.000000;69;83;0
1      2;0.000000;950.000000;0.000000;0.000000;29;232;0
2      1;1.000000;218.000000;0.000000;0.000000;194;74;0
3     2;1.000000;737.000000;0.000000;0.000000;143;216;0
4       2;1.000000;1455.000000;0.000000;0.000000;5;20;0
...                                                 ...
6998   2;1998.000000;921.000000;0.000000;0.000000;1;7;0
6999  2;1998.000000;972.000000;0.000000;0.000000;49;...
7000  1;1998.000000;1114.000000;0.000000;0.000000;30...
7001  1;1998.000000;1462.000000;0.000000;0.000000;15...
7002  2;1999.000000;1511.000000;0.000000;0.000000;14...

[7003 rows x 1 columns]

In [11]:
end

     Type;Pos_x;Pos_y;Vel_x;Vel_y;Receptor_0;Receptor_1;Status
0     2;0.000000;980.000000;-0.726467;-0.265431;49;39;0
1     1;1.000000;218.000000;0.232509;-0.189302;194;74;0
2       2;2.000000;80.000000;0.806047;0.422122;173;77;0
3       1;2.000000;732.000000;0.112128;0.697737;27;31;0
4     2;2.000000;1169.000000;0.202905;-0.489931;133;...
...                                                 ...
6963  2;1998.000000;1536.000000;2.158414;-3.813446;1...
6964  2;1998.000000;1833.000000;0.994459;-0.993001;2...
6965  2;1999.000000;600.000000;0.984605;5.391369;80;...
6966  2;1999.000000;927.000000;-1.565681;2.284115;1;7;0
6967  2;1999.000000;1814.000000;-5.441586;2.931393;5...

[6968 rows x 1 columns]